.mapbox {
    height: 70vh;
    width: 100%;
    transition: all 0.3s ease;
    border: 1px solid #e1e8ea;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adds a shadow */
    margin-top: 5px;
}

.esri-popup__main-container { /* This kills the popup! remember to comment it in development for ease */
    display: none;
}